body{
	background-color: #FAFB88;
	overflow: hidden;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
}
/* board */
.ba-main {
	padding: 40px;
}
.ba-board {
	position: relative;
	width: 80vmin;
	height: 80vmin;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 1px solid #B0B1B2;
	outline: 20px solid #fff;
}
.ba-box {
	position: absolute;
	width: 12.5%;
	height: 100%;
}
.ba-line {
	position: absolute;
	width: 100%;
	height: 12.5%;
}
/* position lines */
.ba-line:first-child {
	top: 0;
}
.ba-line:nth-child(2) {
	top: 12.5%;
}
.ba-line:nth-child(3) {
	top: 25%;
}
.ba-line:nth-child(4) {
	top: 37.5%;
}
.ba-line:nth-child(5) {
	top: 50%;
}
.ba-line:nth-child(6) {
	top: 62.5%;
}
.ba-line:nth-child(7) {
	top: 75%;
}
.ba-line:nth-child(8) {
	top: 87.5%;
}
/* position box */
.ba-box:first-child {
	left: 0;
}
.ba-box:nth-child(2) {
	left: 12.5%;
}
.ba-box:nth-child(3) {
	left: 25%;
}
.ba-box:nth-child(4) {
	left: 37.5%;
}
.ba-box:nth-child(5) {
	left: 50%;
}
.ba-box:nth-child(6) {
	left: 62.5%;
}
.ba-box:nth-child(7) {
	left: 75%;
}
.ba-box:nth-child(8) {
	left: 87.5%;
}
/* board colorizing */
.ba-line:nth-child(odd) .ba-box:nth-child(odd),
.ba-line:nth-child(even) .ba-box:nth-child(even){
	background-color: #B0B1B2;
}
.ba-line:nth-child(even) .ba-box:nth-child(odd),
.ba-line:nth-child(odd) .ba-box:nth-child(even){
	background-color: #fff;
}
/* red checkers */
.ba-line:nth-child(1) .ba-box:nth-child(odd):after,
.ba-line:nth-child(3) .ba-box:nth-child(odd):after,
.ba-line:nth-child(2) .ba-box:nth-child(even):after {
	content: "";
	display: block;
	width: 85%;
	height: 85%;
	margin-top: 7%;
	margin-left: 7%;
	background-color: #D24331;
	border-radius: 50%;
	box-shadow: 0 3px 3px #272727;
	transition: all .2s ease;
}
/* black checkers */
.ba-line:nth-child(6) .ba-box:nth-child(even):after,
.ba-line:nth-child(8) .ba-box:nth-child(even):after,
.ba-line:nth-child(7) .ba-box:nth-child(odd):after {
	content: "";
	display: block;
	width: 85%;
	height: 85%;
	margin-top: 7%;
	margin-left: 7%;
	background-color: #4F4F4F;
	border-radius: 50%;
	box-shadow: 0 3px 3px #272727;
	transition: all .2s ease;
}
/* hover effect */
.ba-line:nth-child(1) .ba-box:nth-child(odd):hover:after,
.ba-line:nth-child(3) .ba-box:nth-child(odd):hover:after,
.ba-line:nth-child(2) .ba-box:nth-child(even):hover:after,
.ba-line:nth-child(6) .ba-box:nth-child(even):hover:after,
.ba-line:nth-child(8) .ba-box:nth-child(even):hover:after,
.ba-line:nth-child(7) .ba-box:nth-child(odd):hover:after {
	margin-top: 0;
}
/* numbers on board */
.ba-line:after {
	position: absolute;
	top: 30%;
	left: -3%;
}
.ba-line:before {
	position: absolute;
	top: 30%;
	right: -3%;
}
.ba-line:nth-child(1):after, .ba-line:nth-child(1):before {
	content: "1";
}
.ba-line:nth-child(2):after, .ba-line:nth-child(2):before {
	content: "2";
}
.ba-line:nth-child(3):after, .ba-line:nth-child(3):before {
	content: "3";
}
.ba-line:nth-child(4):after, .ba-line:nth-child(4):before {
	content: "4";
}
.ba-line:nth-child(5):after, .ba-line:nth-child(5):before {
	content: "5";
}
.ba-line:nth-child(6):after, .ba-line:nth-child(6):before {
	content: "6";
}
.ba-line:nth-child(7):after, .ba-line:nth-child(7):before {
	content: "7";
}
.ba-line:nth-child(8):after, .ba-line:nth-child(8):before {
	content: "8";
}
/* letters on board */
.ba-box:before {
	position: absolute;
	top: -30%;
	left: 40%;
}
.ba-line:first-child .ba-box:nth-child(1):before {
	content: "A";
}
.ba-line:first-child .ba-box:nth-child(2):before {
	content: "B";
}
.ba-line:first-child .ba-box:nth-child(3):before {
	content: "C";
}
.ba-line:first-child .ba-box:nth-child(4):before {
	content: "D";
}
.ba-line:first-child .ba-box:nth-child(5):before {
	content: "E";
}
.ba-line:first-child .ba-box:nth-child(6):before {
	content: "F";
}
.ba-line:first-child .ba-box:nth-child(7):before {
	content: "G";
}
.ba-line:first-child .ba-box:nth-child(8):before {
	content: "H";
}
.ba-line:last-child .ba-box:nth-child(1):before {
	content: "A";
	top: 105%;
	left: 40%;
}
.ba-line:last-child .ba-box:nth-child(2):before {
	content: "B";
	top: 105%;
	left: 40%;
}
.ba-line:last-child .ba-box:nth-child(3):before {
	content: "C";
	top: 105%;
	left: 40%;
}
.ba-line:last-child .ba-box:nth-child(4):before {
	content: "D";
	top: 105%;
	left: 40%;
}
.ba-line:last-child .ba-box:nth-child(5):before {
	content: "E";
	top: 105%;
	left: 40%;
}
.ba-line:last-child .ba-box:nth-child(6):before {
	content: "F";
	top: 105%;
	left: 40%;
}
.ba-line:last-child .ba-box:nth-child(7):before {
	content: "G";
	top: 105%;
	left: 40%;
}
.ba-line:last-child .ba-box:nth-child(8):before {
	content: "H";
	top: 105%;
	left: 40%;
}
